.vs/
game/scripts/
packages/
*/bower_components/
*/build/
*/node_modules/
game/jnb.html

*.zip
/node_modules
/game/index.html
/game/jump-n-bump.js
.DS_Store
server/node_modules
.env
.claude/worktrees/
